.pure-button {
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  color: #fff;
}

.pure-button-primary {
  background: #e60;
}

.lighten {
  opacity: 0.8;
}

img {
  max-width: none;
}

#snap {
  padding: 14px;
}
