.pure-button {
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  color: #fff;
}

.pure-button-primary {
  background: #e60;
}

.lighten {
  opacity: 0.8;
}

img {
  max-width: none;
}

.intro {
  padding: 7px;
  font-size: 14px;
  color: #444;
}

#snap {
  padding: 14px;
}

.room-select-form-input {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
}
.room-select-form-input::placeholder {
  color: #999;
}
